/* Custom CSS goes here */
/**
 * FileName : app.css
 * 
 * @author Joanne Jung
 * @date June 8, 2016
 *
 * Student ID : 300432364
 * website : http://comp125-lab3-joanne.azurewebsites.net/index.html
 */
 
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 
 body {
     font-family: 'Open Sans', sans-serif;
 }
.picture{
    text-align:center;
    padding-bottom :20px;
    margin-left:auto;
    margin-right:auto;
}
.indexFirstSentence{
    color: black;
    font-style: bold;
    font-size:20px;
    text-align:center;

}
.indexSecondSentence{
    font-size:18px;
    color: black;
    text-align:center;
}
h1{
    color: DARKSALMON;
    text-align:center;
}
body{
    background-color: HONEYDEW
}
.logo{
    margin-top:-6px;

}